.answer {
    background: #161616;
    border-color: rgba(255, 255, 255, 0.027451) #FF8C39 rgba(255, 255, 255, 0.027451) rgba(255, 255, 255, 0.027451);
    border-style: solid;
    border-width: 1px 4px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.701961) 0px 5px 12px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: inline-flex;
    width: 35ch;
    height: 12ch;
    margin-top: 45ch;
    color: #FF8C39;
}